.main-screen {
  display: flex;
  background-color: #f5f8fa;
}

.left-menu {
  min-width: 300px;
  background-color: aqua;
  padding: 10px;
}

.tab {
  padding: 10px;
  width: 100%;
  max-width: 80%;
}

.tabs-container-parent {
  background-color: white;
  position: relative;
  border-bottom: 1px solid #e2e3ee;
}

.tabs-container {
  display: flex;
  gap: 10px;
  height: 77px;
  flex-direction: row;
}

.icon-all {
  background-color: #c9f7f5;
  color: #005dc7;
}

.scroll-container {
  width: 84%; /* Độ rộng của vùng hiển thị */
  overflow-x: hidden;
  white-space: nowrap;
  margin: 0 2% 0 4%;
  padding: 4px;
}

.item {
  display: inline-block;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.left {
  left: 1%;
}

.right {
  right: 8%;
}

.icon {
  color: #005dc7;
}

.ls-tab {
  width: 98%;
}

.ls-tab:hover {
  background-color: #0078ff !important;
  color: white !important;
}

.ls-tab:hover i {
  color: white;
}

.box-submenu-2 {
  display: none;
}

.submenu-hover:hover .box-submenu-2 {
  display: block;
  position: fixed;
  margin-top: -44px;
  margin-left: 210px;
}

.box-submenu {
  color: white !important;
}

.container-border {
  border-radius: 5px;
  border: 1px solid #e2e3ee;
}

.title,
.icon-edit {
  color: #005dc7;
}

.tab-link.active-tab {
  border-bottom: 3px solid #0078FF;
}
