.tabs-container {
  background: #eee;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 20px;
  height: 55px;
  border-bottom: 1px solid #ccc;
  width: 100%;

  .tab-link {
    position: relative;
    padding: 10px;
    float: left;
    text-align: center;

    &::after {
      position: absolute;
      left: 4px;
      right: 4px;
      bottom: 0;
      display: block;
      content: '';
      border-bottom: 3px solid #18a790;
      color: #18a790;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }

    &:hover::after {
      transform: scaleX(1);
    }

    &.active::after {
      transform: scaleX(1);
    }

    &.active {
      color: #18a790 !important;
    }
  }
}

.h-employee {
  .tree-bar,
  .h-od-tab {
    border-radius: 8px;
    border: 1px solid #e2e3ee;
  }

  .h-od-tab .nav-item .nav-link {
    text-align: center;
    padding: 10px 4px 2px;
    margin-right: 10px;
    display: inline-block;
    border: 0;

    &.active {
      background-color: #0078ff;
      color: #ffffff !important;
    }
  }
}

.info-dropdownlist {
  max-height: calc(100vh - 380px);
  overflow: auto;
  margin-right: -10px;
  padding-right: 10px;
}

.timeline-exper-nav::after {
  content: '';
  background-color: #d6d6d6;
  width: 1px;
  position: absolute;
  top: 15px;
  left: 133.2px;
  bottom: -3px;
  z-index: 9;
}

.timeline-exper-item:last-child .timeline-exper-nav::after {
  display: none;
}

.hover-active:hover {
  .item-active {
    color: #0078ff;
    font-weight: bold;
  }
}

.icon-qr_code_scanner,
.personid {
  color: #ff001b;
}

.date {
  color: #3a9679;
  background-color: #defffe;
  border-radius: 20px;
  padding: 5px;
}

.btn-add,
.btn-more {
  border: none;
  font-weight: 400;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  padding: 5px;
}

.btn-add {
  background-color: #056dfa;
}

.icon-add-css,
.btn-add {
  color: white;
}

.btn-more {
  background-color: #f8f8f9;
}

.icon-css {
  color: #91919f;
}

.user-right .e-tab-header {
  margin-bottom: 1.25rem !important;
}

.icon-tab-parent {
  color: #0078ff;
}

.icon-tab-parent:hover,
.icon-tab-parent:active {
  color: white !important;
}
