<ng-template #tab1Template>
  <app-tab></app-tab>
</ng-template>

<ng-template #tab2Template>
  <app-tab1></app-tab1>
</ng-template>

<ng-template #eInfo>
  <app-tab></app-tab>
</ng-template>

<div class="main-screen">
  <div class="left-menu">
    <div class="me-4" style="min-width: fit-content !important; max-width: 370px !important">
      <!-- Card Info -->
      <div class="d-flex flex-column">
        <div class="info-card-header d-flex align-items-center">
          <!-- Content -->
          <div class="mx-2">
            <div class="d-flex flex-wrap">
              <div class="align-items-center d-flex fs-6 fw-bold">
                <span class="fw-bold" placement="bottom" [title]="'eInfoHeaderEmployeeName'" style="color: white">
                  Ho Van Test</span>
                <div class="align-items-center d-flex">
                  <span class="icon-14 icon-qr_code_scanner mx-1"></span>
                  <span style="margin-top: 2px; color: #FF001B" #id placement="bottom" [title]="'Employree'">
                    employeeID</span>
                </div>
              </div>
            </div>
            <div placement="bottom" [title]="'eInfoPositionID'" class="d-flex" style="color: #F3F3F3"></div>
            Position
          </div>
          <div class="d-flex" style="color: #D3E8FF">
            <div [title]="'eInfoOrgUnitID'">orgUnitStr
            </div>
          </div>
        </div>
        <!-- End Content -->
      </div>
    </div>
  </div>
  <div class="tab">
    <div class="container">
      <div class="tabs-container-parent mb-10 rounded">
        <button class="scroll-button left" (click)="scrollLeft()" *ngIf="!disableLeft">
          <i class="icon-keyboard_arrow_left icon-40"></i>
        </button>

        <ul class="tabs-container scroll-container" #scrollContainer>
          <!-- Sử dụng ngFor để lặp qua các nhóm tabs trong lstTab -->
          <ng-container *ngFor="let group of lstTab">
            <!-- Chỉ hiển thị các tabs trong nhóm nếu nhóm đó là activeDropdownTab -->
            <ng-container *ngIf="activeDropdownTab === group.name">
              <!-- Lặp qua các tab trong nhóm và hiển thị tên và thêm sự kiện click -->
              <ng-container *ngFor="let tab of group.tabs">
                <li *ngIf="tab.active" (click)="clickDropdownTab(tab.name)"
                  [class.active]="activeDropdownTab === tab.name"
                  class="align-items-center d-flex flex-column fw-bold item justify-content-center tab-link text-uppercase me-5">
                  <i class="icon icon-16" [ngClass]="tab.icon"></i>
                  {{ tab.text }}
                </li>
              </ng-container>
            </ng-container>
          </ng-container>
        </ul>

        <button class="scroll-button right" (click)="scrollRight()" *ngIf="!disableRight">
          <i class="icon-keyboard_arrow_right icon-40"></i>
        </button>

        <!-- <div class="position-absolute" style="top: 25px; right: 20px; position: absolute;">
          <button type="button" class="btn btn-icon btn-sm rounded d-block" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-keyboard_arrow_down pb-1" style="background-color: #C9F7F5; color: #005DC7"></i>
            <div class="fw-bold mx-1 clearfix">
              ALL
            </div>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownToggleButton">
            <div class="w-100" style="width: 100%;">
               
              <ng-container *ngFor="let item of lstTab; let index = index">
                    <a class="nav-link w-100 btn btn-lg btn-clean" (click)="clickTab(item)">
                      <div class="d-flex align-items-center">
                        <div class="fw-bold">
                          {{ item.text }}
                        </div>
                      </div>
                    </a>
                </ng-container> 
            </div>
          </div>
        </div> -->

        <div class="position-absolute" style="top: 25px; right: 20px; position: relative;">
          <button type="button" class="btn btn-icon btn-sm rounded d-block" (click)="toggleDropdown()"
            aria-haspopup="true" [attr.aria-expanded]="dropdownOpen.toString()">
            <i class="icon-keyboard_arrow_down pb-1" style="background-color: #C9F7F5; color: #005DC7"></i>
            <div class="fw-bold mx-1 clearfix">
              ALL
            </div>
          </button>
          <div class="dropdown-menu dropdown-menu-right" [ngClass]="{ 'show': dropdownOpen }"
            aria-labelledby="dropdownToggleButton" style="position: absolute;
            top: 40px;
            right: 10%;">
            <ng-container *ngFor="let item of lstTab; let index = index">
                <a class="nav-link w-100 btn btn-lg btn-clean ls-tab" (click)="clickTab(item)">
                  <div class="d-flex align-items-center">
                    <div class="fw-bold">
                      <i [class]="item.icon"></i>
                      {{ item.text }}
                    </div>
                  </div>
                </a>
            </ng-container>
            <!-- <a class="nav-link btn btn-lg btn-clean fw-bold d-flex" >Sơ yếu lý lịch</a>
              <a class="nav-link btn btn-lg btn-clean fw-bold d-flex">Thông tin pháp lý</a>
              <a class="nav-link btn btn-lg btn-clean fw-bold d-flex">Phúc lợi</a>
              <a class="nav-link btn btn-lg btn-clean fw-bold d-flex">Quá trình làm việc</a>
              <a class="nav-link btn btn-lg btn-clean fw-bold d-flex">Kiến thức</a>
              <a class="nav-link btn btn-lg btn-clean fw-bold d-flex">Khen thưởng - Kỷ luật</a>
              <a class="nav-link btn btn-lg btn-clean fw-bold d-flex">Sức khỏe hoạt động</a>
              <a class="nav-link btn btn-lg btn-clean fw-bold d-flex">Thôi việc</a>
              <a class="nav-link btn btn-lg btn-clean fw-bold d-flex">Theo dỗi thay đổi</a>
              <a class="nav-link btn btn-lg btn-clean fw-bold d-flex" style="width: max-content;">Thành tích - Vị trí kế thừa</a> -->
          </div>
        </div>

      </div>
      <!-- Sử dụng activeTab để hiển thị nội dung tương ứng với tab đang được chọn -->
      <ng-container *ngFor="let group of lstTab">
        <ng-container *ngIf="activeDropdownTab === group.name">
          <ng-container *ngFor="let tab of group.tabs">
            <div *ngIf="activeTab === tab.name">
              <ng-container *ngTemplateOutlet="tab.template"></ng-container>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
