<ng-template #tab1Template>
  <app-tab></app-tab>
</ng-template>

<ng-template #tab2Template>
  <app-tab1></app-tab1>
</ng-template>

<ng-template #eInfo>
  <app-tab></app-tab>
</ng-template>

<div class="main-screen">
  <div class="left-menu">
    <div class="me-4" style="min-width: fit-content !important; max-width: 370px !important">
      <!-- Card Info -->
      <div class="d-flex flex-column">
        <div class="info-card-header d-flex align-items-center">
          <!-- Content -->
          <div class="mx-2">
            <div class="d-flex flex-wrap">
              <div class="align-items-center d-flex fs-6 fw-bold">
                <span class="fw-bold" placement="bottom" [title]="'eInfoHeaderEmployeeName'" style="color: white">
                  Ho Van Test</span>
                <div class="align-items-center d-flex">
                  <span class="icon-14 icon-qr_code_scanner mx-1"></span>
                  <span style="margin-top: 2px; color: #FF001B" #id placement="bottom" [title]="'Employree'">
                    employeeID</span>
                </div>
              </div>
            </div>
            <div placement="bottom" [title]="'eInfoPositionID'" class="d-flex" style="color: #F3F3F3"></div>
            Position
          </div>
          <div class="d-flex" style="color: #D3E8FF">
            <div [title]="'eInfoOrgUnitID'">orgUnitStr
            </div>
          </div>
        </div>
        <!-- End Content -->
      </div>
    </div>
  </div>
  <div class="tab">
    <div class="container">
      <div class="tabs-container-parent mb-10 rounded">
        <button class="scroll-button left" (click)="scrollLeft()" *ngIf="!disableLeft">
          <i class="icon-keyboard_arrow_left icon-40"></i>
        </button>

        <ul class="tabs-container scroll-container" #scrollContainer style="width: 84%;">
          <!-- Sử dụng ngFor để lặp qua các nhóm tabs trong lstTab -->
          <ng-container *ngFor="let group of lstTab">
            <!-- Chỉ hiển thị các tabs trong nhóm nếu nhóm đó là activeDropdownTab -->
            <ng-container *ngIf="activeDropdownTab === group.name">
              <!-- Lặp qua các tab trong nhóm và hiển thị tên và thêm sự kiện click -->
              <ng-container *ngFor="let tab of group.tabs">
                <li *ngIf="tab.active" (click)="clickDropdownTab(tab.name)"
                  [class.active]="activeDropdownTab === tab.name"
                  class="align-items-center d-flex flex-column fw-bold item justify-content-center tab-link text-uppercase me-5">
                  <i class="icon icon-16" [ngClass]="tab.icon"></i>
                  {{ tab.text }}
                </li>
              </ng-container>
            </ng-container>
          </ng-container>
        </ul>
        <button class="scroll-button right" (click)="scrollRight()" *ngIf="!disableRight">
          <i class="icon-keyboard_arrow_right icon-40"></i>
        </button>

        <div class="position-absolute" style="top: 25px; right: 20px; position: relative;">
          <button type="button" class="btn btn-icon btn-sm rounded d-block" (click)="toggleDropdown()"
            aria-haspopup="true" [attr.aria-expanded]="dropdownOpen.toString()">
            <i class="icon-keyboard_arrow_down pb-1" style="background-color: #C9F7F5; color: #005DC7"></i>
            <div class="fw-bold mx-1 clearfix">
              ALL
            </div>
          </button>
          <div class="dropdown-menu" [ngClass]="{ 'show': dropdownOpen }" aria-labelledby="dropdownToggleButton" style="position: absolute; min-width: 17rem;
            top: 40px;
            right: 10%;">
            <div style="position: relative;">
              <ng-container *ngFor="let item of lstTab; let index = index">
                <div class="box-submenu">
                  <a class="nav-link btn btn-lg btn-clean ls-tab submenu-hover" (click)="clickTab(item)">
                    <div class="d-flex align-items-center ">

                      <li class="fw-bold ">
                        <i [class]="item.icon"></i>
                        {{ item.text }}
                        <!-- <div class="box-submenu-2">
                          <ul>
                            <li *ngFor="let tabs of item.tabs">
                              {{tabs.text}}
                            </li>
                          </ul>
                        </div> -->
                      </li>

                      <!-- <div class="fw-bold">
                        <i [class]="item.icon"></i>
                        {{ item.text }}
                      </div> -->
                    </div>
                  </a>
                </div>

              </ng-container>
            </div>

          </div>
        </div>
      </div>

      <!-- Sử dụng activeTab để hiển thị nội dung tương ứng với tab đang được chọn -->
      <ng-container *ngFor="let group of lstTab">
        <ng-container *ngIf="activeDropdownTab === group.name">
          <ng-container *ngFor="let tab of group.tabs">
            <div *ngIf="activeTab === tab.name">
              <ng-container *ngTemplateOutlet="tab.template"></ng-container>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>



    </div>
  </div>
</div>