<ng-template #tab1Template>
  <app-tab></app-tab>
</ng-template>

<ng-template #tab2Template>
  <app-tab1></app-tab1>
</ng-template>

<div class="main-screen">
  <div class="left-menu">
    <div
      class="me-4"
      style="min-width: fit-content !important; max-width: 370px !important"
    >
      <!-- Card Info -->
      <div class="d-flex flex-column">
        <div class="info-card-header d-flex align-items-center">
          <!-- Content -->
          <div class="mx-2">
            <div class="d-flex flex-wrap">
              <div class="align-items-center d-flex fs-6 fw-bold">
                <span
                  class="fw-bold"
                  placement="bottom"
                  [title]="'eInfoHeaderEmployeeName'"
                  style="color: white"
                >
                  Ho Van Test</span
                >
                <div class="align-items-center d-flex">
                  <span class="icon-14 icon-qr_code_scanner mx-1"></span>
                  <span
                    style="margin-top: 2px; color: #ff001b"
                    #id
                    placement="bottom"
                    [title]="'Employree'"
                  >
                    employeeID</span
                  >
                </div>
              </div>
            </div>
            <div
              placement="bottom"
              [title]="'eInfoPositionID'"
              class="d-flex"
              style="color: #f3f3f3"
            ></div>
            Position
          </div>
          <div class="d-flex" style="color: #d3e8ff">
            <div [title]="'eInfoOrgUnitID'">orgUnitStr</div>
          </div>
        </div>
        <!-- End Content -->
      </div>
    </div>
  </div>
  <div class="tab">
    <div class="container">
      <div class="tabs-container-parent mb-10 rounded">
        <button
          class="scroll-button left"
          (click)="scrollLeft()"
          *ngIf="!disableLeft"
        >
          <i class="icon-keyboard_arrow_left icon-40"></i>
        </button>

        <ul class="tabs-container scroll-container" #scrollContainer style="width: 84%;">
          <!-- Sử dụng ngFor để lặp qua các nhóm tabs trong lstTab -->
          <ng-container *ngFor="let group of lstTab">
            <!-- Chỉ hiển thị các tabs trong nhóm nếu nhóm đó là activeDropdownTab -->
            <ng-container *ngIf="activeDropdownTab === group.name">
              <!-- Lặp qua các tab trong nhóm và hiển thị tên và thêm sự kiện click -->
              <ng-container *ngFor="let tab of group.tabs">
                <li
                  *ngIf="tab.active"
                  (click)="clickDropdownTab(tab.name)"
                  [class.active]="activeDropdownTab === tab.name"
                  class="align-items-center d-flex flex-column fw-bold gap-2 item justify-content-center me-5 tab-link text-uppercase"
                >
                  <i class="icon icon-16" [ngClass]="tab.icon"></i>
                  {{ tab.text }}
                </li>
              </ng-container>
            </ng-container>
          </ng-container>
        </ul>
        <button class="scroll-button right" (click)="scrollRight()" *ngIf="!disableRight">

        <button
          class="scroll-button right"
          (click)="scrollRight()"
          *ngIf="!disableRight"
        >
          <i class="icon-keyboard_arrow_right icon-40"></i>
        </button>

        <div class="position-absolute" style="top: 25px; right: 20px; position: relative;">
          <button type="button" class="btn btn-icon btn-sm rounded d-block" (click)="toggleDropdown()"
            aria-haspopup="true" [attr.aria-expanded]="dropdownOpen.toString()">
            <i class="icon-keyboard_arrow_down pb-1" style="background-color: #C9F7F5; color: #005DC7"></i>
            <div class="fw-bold mx-1 clearfix">
              ALL
            </div>
          </button>
          <div class="dropdown-menu" [ngClass]="{ 'show': dropdownOpen }" aria-labelledby="dropdownToggleButton" style="position: absolute; min-width: 17rem;
            top: 40px;
            right: 10%;">
            <div style="position: relative;">
              <ng-container *ngFor="let item of lstTab; let index = index">
                <div class="box-submenu">
                  <a class="nav-link btn btn-lg btn-clean ls-tab submenu-hover" (click)="clickTab(item)">
                    <div class="d-flex align-items-center ">

                      <li class="fw-bold ">
                        <i [class]="item.icon"></i>
                        {{ item.text }}
                        <!-- <div class="box-submenu-2">
                          <ul>
                            <li *ngFor="let tabs of item.tabs">
                              {{tabs.text}}
                            </li>
                          </ul>
                        </div> -->
                      </li>

                      <!-- <div class="fw-bold">
                        <i [class]="item.icon"></i>
                        {{ item.text }}
                      </div> -->
                    </div>
                  </a>
                </div>

              </ng-container>
            </div>


        <div
          class="position-absolute"
          style="top: 25px; right: 20px; position: relative"
        >
          <button
            type="button"
            class="btn btn-icon btn-sm rounded d-block"
            aria-haspopup="true"
            [attr.aria-expanded]="dropdownOpen.toString()"
          >
            <i
              class="icon-keyboard_arrow_down pb-1"
              style="background-color: #c9f7f5; color: #005dc7"
            ></i>
            <div class="fw-bold mx-1 clearfix">ALL</div>
          </button>
          <div
            class="dropdown-menu dropdown-menu-right"
            [ngClass]="{ show: dropdownOpen }"
            aria-labelledby="dropdownToggleButton"
            style="position: absolute; top: 40px; right: 10%"
          >
            <ng-container *ngFor="let item of lstTab; let index = index">
              <a
                class="nav-link w-100 btn btn-lg btn-clean ls-tab"
                (click)="clickTab(item)"
              >
                <div class="d-flex align-items-center">
                  <div class="fw-bold">
                    <i [class]="item.icon"></i>
                    {{ item.text }}
                  </div>
                </div>
              </a>
            </ng-container>
          </div>
        </div>
      </div>

      <!-- Sử dụng activeTab để hiển thị nội dung tương ứng với tab đang được chọn -->
      <ng-container *ngFor="let group of lstTab">
        <ng-container *ngIf="activeDropdownTab === group.name">
          <ng-container *ngFor="let tab of group.tabs">
            <div *ngIf="activeTab === tab.name">
              <ng-container *ngTemplateOutlet="tab.template"></ng-container>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>



    </div>
  </div>
</div>

<!-- Template -->
<!-- I. So yeu li lich -->
<!-- 1. Thong tin ca nhan -->
<ng-template #eInfo>
  <app-tab></app-tab>
</ng-template>

<!-- 2. Thong tin cong viec -->
<ng-template #eJob>
  <div class="container-border container mb-4 bg-body">
    <!-- -----------------------------------THÔNG TIN BẢN THÂN------------------------------------------------ -->
    <div class="row mt-2">
      <div class="title d-flex align-items-center justify-content-between py-4">
        <div class="align-items-center d-flex text-left text-primary">
          <span class="icon-assignment_ind icon-20 me-2"></span>
          <!-- <codx-label name="lblPersonalInfo" [formModel]="formModel" [default]="'Lý lịch cá nhân'" class="fs-5-sm fw-bold text-primary text-uppercase">
                </codx-label> -->
          <span class="fs-5-sm fw-bold text-primary text-uppercase"
            >Thong tin co ban</span
          >
        </div>
        <div>
          <button type="button" class="btn btn-icon btn-white">
            <span class="icon-edit icon-18"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="row mt-5 mb-3 pb-4">
      <!-- Mã nhân viên -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1">
            <span class="icon-wysiwyg icon-16 text-gray-600 me-2"></span>
          </div>
          <div class="fw-bold text-dark">0123456789</div>
        </div>
      </div>

      <!-- Họ -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">05/12/2022</div>
        </div>
      </div>

      <!-- Tên -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">05/12/2022</div>
        </div>
      </div>
    </div>
    <div class="row mb-3 py-4">
      <!-- Bí danh -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">05/12/2022</div>
        </div>
      </div>
      <!-- Giới tính -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">05/12/2022</div>
        </div>
      </div>
      <!-- Tình trạng hôn nhân -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 fw-normal mb-1"></div>
          <div class="fw-bold text-dark">Chinh thuc</div>
        </div>
      </div>
    </div>
    <!-- Quốc tịch / Quốc tịch / Dân tộc-->
    <div class="row mb-3 py-4">
      <div class="col">
        <div class="d-flex flex-column">
          <div class="text-gray-600 pb-1 d-flex"></div>
          <div class="fw-bold text-dark">Nhan vien binh thuong</div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex flex-column">
          <div class="text-gray-600 pb-1 d-flex"></div>
          <div class="fw-bold text-dark">Checkbox</div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex flex-column">
          <div class="text-gray-600 pb-1 d-flex"></div>
          <div class="fw-bold text-dark">Chuyen vien</div>
        </div>
      </div>
    </div>
    <!-- Tôn giáo / Trình độ văn hóa / Hệ đào tạo phổ thông-->
    <div class="row mb-3 py-4">
      <div class="col">
        <div class="d-flex flex-column">
          <div class="text-gray-600 pb-1"></div>
          <div class="fw-bold text-dark">Dang lam viec</div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex flex-column">
          <div class="text-gray-600 pb-1"></div>
          <div class="fw-bold text-dark">Checkbox</div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex flex-column">
          <div class="text-gray-600 pb-1"></div>
          <div class="fw-bold text-dark">Checkbox</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-border container mb-4 bg-body">
    <!-- -----------------------------------CMND------------------------------------------------ -->
    <div class="row mt-2">
      <div class="title d-flex align-items-center justify-content-between py-4">
        <div class="align-items-center d-flex text-left text-primary">
          <span class="icon-attach_money icon-20 me-2"></span>
          <span class="fs-5-sm fw-bold text-primary text-uppercase"
            >Thong tin cham cong</span
          >
        </div>
        <ng-container>
          <div>
            <button type="button" class="btn btn-icon btn-white">
              <span class="icon-edit icon-18"></span>
            </button>
          </div>
        </ng-container>
      </div>
    </div>
    <!-- Là CMND / Số / Ngày cấp -->
    <div class="row mt-5 mb-3 pb-4">
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1">
            <!-- <span class="icon-wysiwyg icon-16 text-gray-600 me-2"></span> -->
          </div>
          <div class="fw-bold text-dark">ELV02233</div>
        </div>
      </div>

      <!-- Họ -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">Phep nam 12 ngay</div>
        </div>
      </div>

      <!-- Tên -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">Nghi thu 7 & chu nhat</div>
        </div>
      </div>
    </div>
    <!-- Ngày hết hạn / Nơi cấp / Dấu vết đặc biệt -->
    <div class="row mb-3 py-4">
      <div class="col">
        <div class="d-flex flex-column">
          <div class="text-gray-600 pb-1 d-flex"></div>
          <div class="fw-bold text-dark">TP.HCM</div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex flex-column">
          <div class="text-gray-600 pb-1 d-flex"></div>
          <div class="fw-bold text-dark">
            23 Nguyễn Thị Huỳnh P8 Quận Phú Nhuận TPHCM
          </div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex flex-column">
          <div class="text-gray-600 pb-1 d-flex"></div>
          <div class="fw-bold text-dark">Quận Phú Nhuận TPHCM</div>
        </div>
      </div>
    </div>
    <!-- Địa chỉ trong CMND -->
    <div class="row mb-3 py-4">
      <div class="col">
        <div class="d-flex flex-column">
          <div class="text-gray-600 pb-1 d-flex"></div>
          <div class="fw-bold text-dark">Anh sang</div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex flex-column">
          <div class="text-gray-600 pb-1 d-flex"></div>
          <div class="fw-bold text-dark">Hanh chinh</div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex flex-column">
          <div class="text-gray-600 pb-1 d-flex"></div>
          <div class="fw-bold text-dark">Checkbox</div>
        </div>
      </div>
    </div>
    <!-- SỐ hộ chiếu / Loại hộ chiếu / Ngày cấp -->
    <div class="row mt-5 mb-3 pb-4">
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1">
            <!-- <span class="icon-wysiwyg icon-16 text-gray-600 me-2"></span> -->
          </div>
          <div class="fw-bold text-dark">Checkbox</div>
        </div>
      </div>

      <!-- Họ -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">Checkbox</div>
        </div>
      </div>

      <!-- Tên -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">Checkbox</div>
        </div>
      </div>
    </div>
    <!-- Ngày hết hạn / Nơi cấp  -->
    <div class="row mb-3 py-4">
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 pb-1 d-flex"></div>
          <div class="fw-bold text-dark">Checkbox</div>
        </div>
      </div>
      <div class="col-8">
        <div class="d-flex flex-column">
          <div class="text-gray-600 pb-1 d-flex"></div>
          <div class="fw-bold text-dark">Checkbox</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-border container mb-4 bg-body">
    <!-- -----------------------------------Hộ chiếu------------------------------------------------ -->
    <div class="row mt-2">
      <div class="title d-flex align-items-center justify-content-between py-4">
        <div class="align-items-center d-flex text-left text-primary">
          <span class="icon-attach_money icon-20 me-2"></span>
          <span class="fs-5-sm fw-bold text-primary text-uppercase"
            >Bo phan lam viec</span
          >
        </div>
        <ng-container>
          <div>
            <button type="button" class="btn btn-icon btn-white">
              <span class="icon-edit icon-18"></span>
            </button>
          </div>
        </ng-container>
      </div>
    </div>
    <!-- SỐ hộ chiếu / Loại hộ chiếu / Ngày cấp -->
    <div class="row mt-5 mb-3 pb-4">
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1">
            <!-- <span class="icon-wysiwyg icon-16 text-gray-600 me-2"></span> -->
          </div>
          <div class="fw-bold text-dark">PO/BA</div>
        </div>
      </div>

      <!-- Họ -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">PO/BA</div>
        </div>
      </div>

      <!-- Tên -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">Huynh Phuoc Hoa</div>
        </div>
      </div>
    </div>
    <!-- SỐ hộ chiếu / Loại hộ chiếu / Ngày cấp -->
    <div class="row mt-5 mb-3 pb-4">
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1">
            <!-- <span class="icon-wysiwyg icon-16 text-gray-600 me-2"></span> -->
          </div>
          <div class="fw-bold text-dark">Ton That Thuyet</div>
        </div>
      </div>

      <!-- Họ -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">ttvinh&#64;lacviet.com.vn</div>
        </div>
      </div>

      <!-- Tên -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">Checkbox</div>
        </div>
      </div>
    </div>
    <!-- Ngày hết hạn / Nơi cấp  -->
    <div class="row mb-3 py-4">
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 pb-1 d-flex"></div>
          <div class="fw-bold text-dark">****</div>
        </div>
      </div>
      <div class="col-8">
        <div class="d-flex flex-column">
          <div class="text-gray-600 pb-1 d-flex"></div>
          <div class="fw-bold text-dark">Checkbox</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-border container mb-4 bg-body">
    <!-- -----------------------------------Mã số thuế------------------------------------------------ -->
    <div class="row mt-2">
      <div class="title d-flex align-items-center justify-content-between py-4">
        <div class="align-items-center d-flex text-left text-primary">
          <span class="icon-attach_money icon-20 me-2"></span>
          <span class="fs-5-sm fw-bold text-primary text-uppercase"
            >Cong viec</span
          >
        </div>
        <div>
          <button type="button" class="btn btn-icon btn-white">
            <span class="icon-edit icon-18"></span>
          </button>
        </div>
      </div>
    </div>
    <!-- Mã số thuế / Ngày cấp MST / Nơi cấp MST -->
    <div class="row mt-5 mb-3 pb-4">
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1">
            <!-- <span class="icon-wysiwyg icon-16 text-gray-600 me-2"></span> -->
          </div>
          <div class="fw-bold text-dark">Nganh nghe</div>
        </div>
      </div>

      <!-- Họ -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">Checkbox</div>
        </div>
      </div>

      <!-- Tên -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">Nhan vien</div>
        </div>
      </div>
    </div>
    <!-- SỐ hộ chiếu / Loại hộ chiếu / Ngày cấp -->
    <div class="row mt-5 mb-3 pb-4">
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1">
            <!-- <span class="icon-wysiwyg icon-16 text-gray-600 me-2"></span> -->
          </div>
          <div class="fw-bold text-dark">05/12/2022</div>
        </div>
      </div>

      <!-- Họ -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">Phan tich nghiep vu</div>
        </div>
      </div>

      <!-- Tên -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">1</div>
        </div>
      </div>
    </div>
    <!-- SỐ hộ chiếu / Loại hộ chiếu / Ngày cấp -->
    <div class="row mt-5 mb-3 pb-4">
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1">
            <!-- <span class="icon-wysiwyg icon-16 text-gray-600 me-2"></span> -->
          </div>
          <div class="fw-bold text-dark">05/12/2022</div>
        </div>
      </div>

      <!-- Họ -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">Team Lead</div>
        </div>
      </div>

      <!-- Tên -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">Phat trien phan mem</div>
        </div>
      </div>
    </div>
    <!-- SỐ hộ chiếu / Loại hộ chiếu / Ngày cấp -->
    <div class="row mt-5 mb-3 pb-4">
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1">
            <!-- <span class="icon-wysiwyg icon-16 text-gray-600 me-2"></span> -->
          </div>
          <div class="fw-bold text-dark">05/12/2022</div>
        </div>
      </div>

      <!-- Họ -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">29/12/2023</div>
        </div>
      </div>

      <!-- Tên -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">CoDx</div>
        </div>
      </div>
    </div>
    <!-- SỐ hộ chiếu / Loại hộ chiếu / Ngày cấp -->
    <div class="row mt-5 mb-3 pb-4">
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1">
            <!-- <span class="icon-wysiwyg icon-16 text-gray-600 me-2"></span> -->
          </div>
          <div class="fw-bold text-dark">Checkbox</div>
        </div>
      </div>

      <!-- Họ -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">Checkbox</div>
        </div>
      </div>

      <!-- Tên -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">ELV02233</div>
        </div>
      </div>
    </div>
    <!-- Địa chỉ trong CMND -->
    <div class="row mb-3 py-4">
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 pb-1"></div>
          <div class="fw-bold text-dark">Khong co ghi chu</div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- 3. Thong tin tuyen dung -->
<ng-template #eHiring>
  <div class="container-border container mb-4 bg-body">
    <!-- -----------------------------------Mã số thuế------------------------------------------------ -->
    <div class="row mt-2">
      <div class="title d-flex align-items-center justify-content-between py-4">
        <div class="align-items-center d-flex text-left text-primary">
          <span class="icon-attach_money icon-20 me-2"></span>
          <span class="fs-5-sm fw-bold text-primary text-uppercase">Thong tin tuyen dung</span
          >
        </div>
        <div>
          <button type="button" class="btn btn-icon btn-white">
            <span class="icon-edit icon-18"></span>
          </button>
        </div>
      </div>
    </div>
    <!-- Mã số thuế / Ngày cấp MST / Nơi cấp MST -->
    <div class="row mt-5 mb-3 pb-4">
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1">
            <!-- <span class="icon-wysiwyg icon-16 text-gray-600 me-2"></span> -->
          </div>
          <div class="fw-bold text-dark">TD001</div>
        </div>
      </div>

      <!-- Họ -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">01/12/2022</div>
        </div>
      </div>

      <!-- Tên -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">02/12/2022</div>
        </div>
      </div>
    </div>
    <!-- Nguoi ky quyet dinh -->
    <div class="row mb-3 py-4">
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 pb-1"></div>
          <div class="fw-bold text-dark">Ha Binh Than</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-border container mb-4 bg-body">
    <!-- -----------------------------------Bo phan tuyen dung ban dau--------------------------------------- -->
    <div class="row mt-2">
        <div class="title d-flex align-items-center justify-content-between py-4">
            <div class="align-items-center d-flex text-left text-primary">
                <span class="icon-attach_money icon-20 me-2"></span>
                <span class="fs-5-sm fw-bold text-primary text-uppercase">Ly lich ca nhan</span>
            </div>
                <div>
                    <button type="button" class="btn btn-icon btn-white">
                        <span class="icon-edit icon-18"></span>
                    </button>
                </div>
        </div>
    </div>
    <!-- SỐ hộ chiếu / Loại hộ chiếu / Ngày cấp -->
    <div class="row mt-5 mb-3 pb-4">
        <div class="col-4">
            <div class="d-flex flex-column">
                <div class="text-gray-600 me-2 pb-1">
                    <!-- <span class="icon-wysiwyg icon-16 text-gray-600 me-2"></span> -->
                </div>
                <div class="fw-bold text-dark">HCS</div>
            </div>
        </div>

         <!-- Họ -->
         <div class="col-4">
            <div class="d-flex flex-column">
                <div class="text-gray-600 me-2 pb-1">
                </div>
                <div class="fw-bold text-dark">Career Builder</div>
            </div>
        </div>

        <!-- Tên -->
        <div class="col-4">
            <div class="d-flex flex-column">
              <div class="text-gray-600 me-2 pb-1">
                </div>
                <div class="fw-bold text-dark">Nguyen Tran Phuong Thao</div>
            </div>
        </div>
    </div>
    <!-- Ngày hết hạn / Nơi cấp  -->
    <div class="row mb-3 py-4">
        <div class="col-4">
            <div class="d-flex flex-column">
                <div class="text-gray-600 pb-1 d-flex">
                </div>
                    <div class="fw-bold text-dark" >Hinh thuc tuyen dung 1</div>
            </div>
        </div>
        <div class="col-4">
            <div class="d-flex flex-column">
                <div class="text-gray-600 pb-1 d-flex">
                </div>
                    <div class="fw-bold text-dark" >05/12/2022</div>
            </div>
        </div>
        <div class="col-4">
            <div class="d-flex flex-column">
                <div class="text-gray-600 pb-1 d-flex">
                </div>
                    <div class="fw-bold text-dark" >05/12/2023</div>
            </div>
        </div>
    </div>
  </div>

  <div class="container-border container mb-4 bg-body">
    <!-- -----------------------------------Ket qua phong van--------------------------------------- -->
    <div class="row mt-2">
        <div class="title d-flex align-items-center justify-content-between py-4">
            <div class="align-items-center d-flex text-left text-primary">
                <span class="icon-attach_money icon-20 me-2"></span>
                <span class="fs-5-sm fw-bold text-primary text-uppercase">Ket qua phong van</span>
            </div>
                <div>
                    <button type="button" class="btn btn-icon btn-white">
                        <span class="icon-edit icon-18"></span>
                    </button>
                </div>
        </div>
    </div>
    <!-- SỐ hộ chiếu / Loại hộ chiếu / Ngày cấp -->
    <div class="row mt-5 mb-3 pb-4">
        <div class="col-4">
            <div class="d-flex flex-column">
                <div class="text-gray-600 me-2 pb-1">
                    <!-- <span class="icon-wysiwyg icon-16 text-gray-600 me-2"></span> -->
                </div>
                <div class="fw-bold text-dark">Phan tich nghiep vu</div>
            </div>
        </div>

         <!-- Họ -->
         <div class="col-4">
            <div class="d-flex flex-column">
                <div class="text-gray-600 me-2 pb-1">
                </div>
                <div class="fw-bold text-dark">3</div>
            </div>
        </div>

        <!-- Tên -->
        <div class="col-4">
            <div class="d-flex flex-column">
              <div class="text-gray-600 me-2 pb-1">
                </div>
                <div class="fw-bold text-dark">2022</div>
            </div>
        </div>
    </div>
    <!-- Ngày hết hạn / Nơi cấp  -->
    <div class="row mb-3 py-4">
        <div class="col-4">
            <div class="d-flex flex-column">
                <div class="text-gray-600 pb-1 d-flex">
                </div>
                    <div class="fw-bold text-dark" >Ton That Tuan</div>
            </div>
        </div>
        <div class="col-4">
            <div class="d-flex flex-column">
                <div class="text-gray-600 pb-1 d-flex">
                </div>
                    <div class="fw-bold text-dark" >Bo sung vi tri Phan tich nghiep vu</div>
            </div>
        </div>
        <div class="col-4">
            <div class="d-flex flex-column">
                <div class="text-gray-600 pb-1 d-flex">
                </div>
                    <div class="fw-bold text-dark" >Nguyen Van A</div>
            </div>
        </div>
    </div>
     <!-- Ngày hết hạn / Nơi cấp  -->
     <div class="row mb-3 py-4">
      <div class="col-4">
          <div class="d-flex flex-column">
              <div class="text-gray-600 pb-1 d-flex">
              </div>
                  <div class="fw-bold text-dark" >Nghiep vu nhan su</div>
          </div>
      </div>
      <div class="col-4">
          <div class="d-flex flex-column">
              <div class="text-gray-600 pb-1 d-flex">
              </div>
                  <div class="fw-bold text-dark" >Tot</div>
          </div>
      </div>
      <div class="col-4">
          <div class="d-flex flex-column">
              <div class="text-gray-600 pb-1 d-flex">
              </div>
                  <div class="fw-bold text-dark" >Khong co</div>
          </div>
      </div>
  </div>
  </div>
</ng-template>
<!-- 4. Than nhan -->
<!-- 5. Thong tin Dang - Doan -->
<ng-template #eGroup>
  <div class="container-border container mb-4 bg-body">
    <!-- -----------------------------------Thong tin cong doan------------------------------------------------ -->
    <div class="row mt-2">
      <div class="title d-flex align-items-center justify-content-between py-4">
        <div class="align-items-center d-flex text-left text-primary">
          <span class="icon-attach_money icon-20 me-2"></span>
          <span class="fs-5-sm fw-bold text-primary text-uppercase">Thong tin cong doan</span
          >
        </div>
        <div>
          <button type="button" class="btn btn-icon btn-white">
            <span class="icon-edit icon-18"></span>
          </button>
        </div>
      </div>
    </div>
    <!-- Mã số thuế / Ngày cấp MST / Nơi cấp MST -->
    <div class="row mt-5 mb-3 pb-4">
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1">
            <!-- <span class="icon-wysiwyg icon-16 text-gray-600 me-2"></span> -->
          </div>
          <div class="fw-bold text-dark">Checkbox</div>
        </div>
      </div>

      <!-- Họ -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">05/12/2022</div>
        </div>
      </div>

      <!-- Tên -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">22.000</div>
        </div>
      </div>
    </div>
    <!-- Nguoi ky quyet dinh -->
    <div class="row mb-3 py-4">
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 pb-1"></div>
          <div class="fw-bold text-dark">Hoi truong lau 8</div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- 6. Tieu su ca nhan -->
<ng-template #ePersonal>
  <div class="container-border container mb-4 bg-body">
    <!-- -----------------------------------Tieu su ca nhan--------------------------------------- -->
    <div class="row mt-2">
        <div class="title d-flex align-items-center justify-content-between py-4">
            <div class="align-items-center d-flex text-left text-primary">
                <span class="icon-attach_money icon-20 me-2"></span>
                <span class="fs-5-sm fw-bold text-primary text-uppercase">Tieu su ca nhan</span>
            </div>
                <div>
                    <button type="button" class="btn btn-icon btn-white">
                        <span class="icon-edit icon-18"></span>
                    </button>
                </div>
        </div>
    </div>
    <!-- SỐ hộ chiếu / Loại hộ chiếu / Ngày cấp -->
    <div class="row mt-5 mb-3 pb-4">
        <div class="col-4">
            <div class="d-flex flex-column">
                <div class="text-gray-600 me-2 pb-1">
                    <!-- <span class="icon-wysiwyg icon-16 text-gray-600 me-2"></span> -->
                </div>
                <div class="fw-bold text-dark">Gia đình văn hóa</div>
            </div>
        </div>

         <!-- Họ -->
         <div class="col-4">
            <div class="d-flex flex-column">
                <div class="text-gray-600 me-2 pb-1">
                </div>
                <div class="fw-bold text-dark">Gia đình văn hóa</div>
            </div>
        </div>

        <!-- Tên -->
        <div class="col-4">
            <div class="d-flex flex-column">
              <div class="text-gray-600 me-2 pb-1">
                </div>
                <div class="fw-bold text-dark">Binh thuong</div>
            </div>
        </div>
    </div>
    <!-- Ngày hết hạn / Nơi cấp  -->
    <div class="row mb-3 py-4">
        <div class="col-4">
            <div class="d-flex flex-column">
                <div class="text-gray-600 pb-1 d-flex">
                </div>
                    <div class="fw-bold text-dark" >Tieu su</div>
            </div>
        </div>
        <div class="col-4">
            <div class="d-flex flex-column">
                <div class="text-gray-600 pb-1 d-flex">
                </div>
                    <div class="fw-bold text-dark" >Khong co</div>
            </div>
        </div>
        <div class="col-4">
            <div class="d-flex flex-column">
                <div class="text-gray-600 pb-1 d-flex">
                </div>
                    <div class="fw-bold text-dark" >Checkbox</div>
            </div>
        </div>
    </div>
     <!-- Ngày hết hạn / Nơi cấp  -->
     <div class="row mb-3 py-4">
      <div class="col-4">
          <div class="d-flex flex-column">
              <div class="text-gray-600 pb-1 d-flex">
              </div>
                  <div class="fw-bold text-dark" >Phan tich nghiep vu</div>
          </div>
      </div>
      <div class="col-4">
          <div class="d-flex flex-column">
              <div class="text-gray-600 pb-1 d-flex">
              </div>
                  <div class="fw-bold text-dark" >39 nam</div>
          </div>
      </div>
      <div class="col-4">
          <div class="d-flex flex-column">
              <div class="text-gray-600 pb-1 d-flex">
              </div>
                  <div class="fw-bold text-dark" >Khong co ghi chu</div>
          </div>
      </div>
  </div>
  </div>

  <div class="container-border container mb-4 bg-body">
    <!-- -----------------------------------Thuong binh------------------------------------------------ -->
    <div class="row mt-2">
      <div class="title d-flex align-items-center justify-content-between py-4">
        <div class="align-items-center d-flex text-left text-primary">
          <span class="icon-attach_money icon-20 me-2"></span>
          <span class="fs-5-sm fw-bold text-primary text-uppercase">Thuong binh</span
          >
        </div>
        <div>
          <button type="button" class="btn btn-icon btn-white">
            <span class="icon-edit icon-18"></span>
          </button>
        </div>
      </div>
    </div>
    <!-- Mã số thuế / Ngày cấp MST / Nơi cấp MST -->
    <div class="row mt-5 mb-3 pb-4">
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1">
            <!-- <span class="icon-wysiwyg icon-16 text-gray-600 me-2"></span> -->
          </div>
          <div class="fw-bold text-dark">Checkbox</div>
        </div>
      </div>

      <!-- Họ -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">0</div>
        </div>
      </div>

      <!-- Tên -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">Hang 3/4</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-border container mb-4 bg-body">
    <!-- -----------------------------------Quan nhan du bi------------------------------------------------ -->
    <div class="row mt-2">
      <div class="title d-flex align-items-center justify-content-between py-4">
        <div class="align-items-center d-flex text-left text-primary">
          <span class="icon-attach_money icon-20 me-2"></span>
          <span class="fs-5-sm fw-bold text-primary text-uppercase">Quan nhan du bi</span
          >
        </div>
        <div>
          <button type="button" class="btn btn-icon btn-white">
            <span class="icon-edit icon-18"></span>
          </button>
        </div>
      </div>
    </div>
    <!-- Mã số thuế / Ngày cấp MST / Nơi cấp MST -->
    <div class="row mt-5 mb-3 pb-4">
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1">
            <!-- <span class="icon-wysiwyg icon-16 text-gray-600 me-2"></span> -->
          </div>
          <div class="fw-bold text-dark">Checkbox</div>
        </div>
      </div>

      <!-- Họ -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">Si quan</div>
        </div>
      </div>

      <!-- Tên -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">Si quan</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-border container mb-4 bg-body">
    <!-- -----------------------------------Bo doi------------------------------------------------ -->
    <div class="row mt-2">
      <div class="title d-flex align-items-center justify-content-between py-4">
        <div class="align-items-center d-flex text-left text-primary">
          <span class="icon-attach_money icon-20 me-2"></span>
          <span class="fs-5-sm fw-bold text-primary text-uppercase">Bo doi</span
          >
        </div>
        <ng-container>
          <div>
            <button type="button" class="btn btn-icon btn-white">
              <span class="icon-edit icon-18"></span>
            </button>
          </div>
        </ng-container>
      </div>
    </div>
    <!-- SỐ hộ chiếu / Loại hộ chiếu / Ngày cấp -->
    <div class="row mt-5 mb-3 pb-4">
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1">
            <!-- <span class="icon-wysiwyg icon-16 text-gray-600 me-2"></span> -->
          </div>
          <div class="fw-bold text-dark">Checkbox</div>
        </div>
      </div>

      <!-- Họ -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">05/12/2022</div>
        </div>
      </div>

      <!-- Tên -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">Quan y</div>
        </div>
      </div>
    </div>
    <!-- Ngày hết hạn / Nơi cấp  -->
    <div class="row mb-3 py-4">
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 pb-1 d-flex"></div>
          <div class="fw-bold text-dark">06/12/2020</div>
        </div>
      </div>
      <div class="col-8">
        <div class="d-flex flex-column">
          <div class="text-gray-600 pb-1 d-flex"></div>
          <div class="fw-bold text-dark">05/12/2021</div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- 7. Lao dong nuoc ngoai -->
<ng-template #eForeign>
  <div class="container-border container mb-4 bg-body">
    <!-- -----------------------------------Thong tin chung------------------------------------------------ -->
    <div class="row mt-2">
      <div class="title d-flex align-items-center justify-content-between py-4">
        <div class="align-items-center d-flex text-left text-primary">
          <span class="icon-attach_money icon-20 me-2"></span>
          <span class="fs-5-sm fw-bold text-primary text-uppercase">Thong tin chung</span
          >
        </div>
        <div>
          <button type="button" class="btn btn-icon btn-white">
            <span class="icon-edit icon-18"></span>
          </button>
        </div>
      </div>
    </div>
    <!-- Mã số thuế / Ngày cấp MST / Nơi cấp MST -->
    <div class="row mt-5 mb-3 pb-4">
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1">
            <!-- <span class="icon-wysiwyg icon-16 text-gray-600 me-2"></span> -->
          </div>
          <div class="fw-bold text-dark">Checkbox</div>
        </div>
      </div>

      <!-- Họ -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">Checkbox</div>
        </div>
      </div>

      <!-- Tên -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">Checkbox</div>
        </div>
      </div>
    </div>
    <!-- Nguoi ky quyet dinh -->
    <div class="row mb-3 py-4">
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 pb-1"></div>
          <div class="fw-bold text-dark">LD lam viec theo hop dong</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-border container mb-4 bg-body">
    <!-- -----------------------------------Thuoc dien lao dong------------------------------------------------ -->
    <div class="row mt-2">
      <div class="title d-flex align-items-center justify-content-between py-4">
        <div class="align-items-center d-flex text-left text-primary">
          <span class="icon-attach_money icon-20 me-2"></span>
          <span class="fs-5-sm fw-bold text-primary text-uppercase">Thuoc dien lao dong</span
          >
        </div>
        <ng-container>
          <div>
            <button type="button" class="btn btn-icon btn-white">
              <span class="icon-edit icon-18"></span>
            </button>
          </div>
        </ng-container>
      </div>
    </div>
    <!-- Giay phep lao dong / Tinh trang cap GPLD  -->
    <div class="row mb-3 py-4">
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 pb-1 d-flex"></div>
          <div class="fw-bold text-dark">Cap giay phep lao dong</div>
        </div>
      </div>
      <div class="col-8">
        <div class="d-flex flex-column">
          <div class="text-gray-600 pb-1 d-flex"></div>
          <div class="fw-bold text-dark">Dang lam GPLD</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-border container mb-4 bg-body">
    <!-- -----------------------------------So giay phep lao dong------------------------------------------------ -->
    <div class="row mt-2">
      <div class="title d-flex align-items-center justify-content-between py-4">
        <div class="align-items-center d-flex text-left text-primary">
          <span class="icon-attach_money icon-20 me-2"></span>
          <span class="fs-5-sm fw-bold text-primary text-uppercase">So giay phep lao dong</span
          >
        </div>
        <div>
          <button type="button" class="btn btn-icon btn-white">
            <span class="icon-edit icon-18"></span>
          </button>
        </div>
      </div>
    </div>
    <!-- Mã số thuế / Ngày cấp MST / Nơi cấp MST -->
    <div class="row mt-5 mb-3 pb-4">
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1">
            <!-- <span class="icon-wysiwyg icon-16 text-gray-600 me-2"></span> -->
          </div>
          <div class="fw-bold text-dark">2023</div>
        </div>
      </div>

      <!-- Họ -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">05/12/2022</div>
        </div>
      </div>

      <!-- Tên -->
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 me-2 pb-1"></div>
          <div class="fw-bold text-dark">05/12/2023</div>
        </div>
      </div>
    </div>
    <!-- Nguoi ky quyet dinh -->
    <div class="row mb-3 py-4">
      <div class="col-4">
        <div class="d-flex flex-column">
          <div class="text-gray-600 pb-1"></div>
          <div class="fw-bold text-dark">12 thang</div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- 8. Ho so can nop -->

<!-- II. Thong tin phap ly -->
<!-- 1. Tong quan -->
<!-- 2. So bao hiem - So lao dong -->
<!-- 3. Ho chieu -->
